.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $colour-text;
  height: calculate-rem(88px);
  @include calculate-font-size(18px);
  transition: height 0.3s ease-in-out;

  &-shrink {
    height: calculate-rem(88px);
  }

  &-logo {
    color: $colour-text;
    margin-right: auto;

    & > h1 {
      @include calculate-font-size(18px);
      font-size: calculate-rem(20px);
      font-weight: 700;
    }
  }

  &-item {
    margin: 0 1rem;
    display: inline-block;
  }

  &-link {
    position: relative;
    color: $colour-text-light;
    font-weight: 500;
    font-size: calculate-rem(16px);

    &::before {
      content: '';
      display: block;
      height: 2px;
      background: $colour-text-light;
      position: absolute;
      bottom: -0.5em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transform-origin: bottom;
      transition: transform 0.2s ease-in-out;
    }

    &:hover::before {
      transform: scale(1, 1);
    }
  }

  &-menu {
    display: flex;
    list-style: none;

    &-social {
      &::before {
        content: '|';
        margin: 0 1rem;
        color: $colour-text;
      }

      & > .navbar-item {
        margin: 0 0.5rem;
        @include calculate-font-size(16px);

        & > .navbar-link {
          border-radius: 60px;
          box-shadow: 0px 0px 2px rgb(179, 179, 179);
          padding: 0.5rem;
          transition: all 0.3s ease;
          color: $colour-text;

          &:hover {
            box-shadow: 0px 0px 2px rgb(73, 73, 73);
          }

          &::before {
            display: none;
          }
        }
      }
    }
  }
}
