.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $colour-text;
  height: calculate-rem(88px);
  @include calculate-font-size(18px);
  transition: height 0.3s ease-in-out;

  &-shrink {
    height: calculate-rem(88px);
  }

  &-toggle {
    display: none;
    position: absolute;
    top: 10;
    right: 20;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: $colour-text;
    font-size: calculate-rem(24px);

    @media (max-width: 767px) {
      display: inline-block;
    }
  }

  &-logo {
    position: relative;
    color: $colour-text;
    margin-right: auto;

    & > h1 {
      @include calculate-font-size(18px);
      font-size: calculate-rem(20px);
      font-weight: 700;
    }
  }

  &-menu {
    display: flex;
    list-style: none;

    @media (max-width: 767px) {
      display: none;

      &-mobile-open {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        background-color: $colour-background-light;
      }
    }
  }

  &-item {
    margin: 0 1rem;
    display: inline-block;

    &-social {
      margin: 0 0.5rem;
      @include calculate-font-size(16px);

      @media (max-width: 767px) {
        display: none;
      }
    }

    &-divider::before {
      content: '|';
      margin-left: 1rem;
      margin-right: 1.2rem;
      color: $colour-text;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &-link {
    position: relative;
    color: $colour-text-light;
    font-weight: 500;
    font-size: calculate-rem(16px);

    &::before {
      content: '';
      display: block;
      height: 2px;
      background: $colour-text-light;
      position: absolute;
      bottom: -0.5em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transform-origin: bottom;
      transition: transform 0.2s ease-in-out;
    }

    &:hover::before {
      transform: scale(1, 1);
    }

    &-social {
      border-radius: 60px;
      box-shadow: 0px 0px 2px rgb(179, 179, 179);
      padding: 0.5rem;
      transition: all 0.3s ease;
      color: $colour-text;

      &:hover {
        box-shadow: 0px 0px 2px rgb(73, 73, 73);
      }

      &::before {
        display: none;
      }
    }
  }
}
