.section-projects {
  background-color: $colour-background-light;

  .projects-wrapper {
    min-height: 100%;
    min-width: 100%;

    .projects-title {
      text-align: center;
      padding: 4rem;
      color: $colour-text;
      font-size: calculate-rem(30px);
      line-height: 1.5;
    }

    .projects-list {
      .project {
        position: relative;
        max-width: 900px;
        height: 320px;
        margin: 0 auto 60px auto;
        overflow: hidden;
        background: $colour-background;
        border-radius: 4px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
        margin-top: 10px;

        @media (max-width: 900px) {
          min-height: 640px;
          max-width: 480px;
        }

        @media (max-width: 420px) {
          min-height: 700px;
        }

        &-image {
          display: block;
          max-width: 480px;
          max-height: 320px;
          overflow: hidden;
          height: 100%;
          width: auto;
          border-right: 3px solid $colour-background-dark;

          @media (max-width: 900px) {
            border-right: none;
            border-bottom: 3px solid $colour-background-dark;
          }
        }

        &-content {
          position: absolute;
          top: 0;
          margin-left: 480px;
          padding: 25px;
          height: 100%;

          @media (max-width: 900px) {
            margin-left: 0;
            margin-top: 320px;
          }

          .project-title {
            font-weight: 700;
            margin-bottom: 1rem;
          }

          .project-tech {
            list-style: none;
            text-align: left;
            margin-top: 1.25rem;

            &-item {
              display: inline-block;
              background: none;
              border: 2px $colour-primary solid;
              color: $colour-primary;
              border-radius: 4px;
              padding: 3px 7px;
              margin-right: 0.5rem;
              margin-bottom: 0.5rem;
              font-size: 13px;
              font-weight: 500;
            }
          }

          .project-links {
            position: absolute;
            top: 0;
            right: 0;
            padding: 25px;
            font-size: 12px;

            .project-link {
              display: inline-block;
              background: $colour-primary;
              color: $colour-background-light;
              border-radius: 4px;
              padding: 3px 7px;
              font-size: 13px;
              margin-right: 0.5rem;
              margin-bottom: 0.5rem;
              transition: background-color 0.2s ease;
              font-weight: 500;

              &:hover {
                background-color: darken($colour-primary, 4%);
                color: darken($colour-light, 4%);
                border-color: darken($colour-primary, 4%);
              }

              &:last-child {
                margin-left: 3px;
              }

              svg {
                margin-right: 4px;
              }
            }
          }
        }
      }
    }
  }
}
