.nav {
  font-size: 0.9rem;
  font-weight: 500;
  &__menu {
    display: flex;
    align-items: center;
    list-style: none;

    &__item {
      padding: 0px 10px;
      &__link {
        color: $colour-light;
        padding: 0.75rem;
        margin: 0 0.25rem;
        transition: all 0.3s ease 0s;

        &:hover {
          color: $colour-light-hover;
        }

        &--cta {
          color: $colour-light;
          padding: 9px 15px;
          border: 2px solid $colour-primary;
          border-radius: 50px;
          transition: all 0.3s ease 0s;
          &:hover {
            color: $colour-light;
            background-color: $colour-primary;
          }
        }
      }
    }
  }
}
