.nav {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &-toggle {
    color: #ffffff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 10;

    .fa-times {
      display: none;
    }
  }

  &-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: $primary-text-colour-dark;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 9;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 8;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
  }

  &.open .fa-times {
    display: block;
  }

  &.open .fa-bars {
    display: none;
  }

  &.open .nav-list {
    transform: translateX(0);
  }

  &.open::before {
    opacity: 1;
    transform: scale(1);
  }
}
